.menu
    background-color: #FAFAFA
    height: 40.7rem
    width: 18rem
    ul
        list-style: none
    .pin-items
        padding: 1rem
    .pin-item,.project-item
        display: flex

    .menu-collapse
        background-color: #FAFAFA
        border: none
        border-bottom: none
        border-radius: none
    .ant-collapse-content
        background-color: #FAFAFA
        border-top: none
    .ant-collapse > .ant-collapse-item
        border-bottom: none
    .pin-item
        font-size: 15px
    .pin-item-icon ,.project-item-icon
        margin: 0 0.5rem 0 0
    .item-icon-1
        color: #246fe0
    .item-icon-2
        color: #058527
    .item-icon-3
        color: #692fc2
