.section1
    .h-title
        font-weight: 700

    .footer
        display: flex
        justify-content: center
        .sec1-footer-link
            display: flex
            align-items: center
            padding: 0 1rem
            color: #3E6FEA
            .link-text
                margin: 0
                padding: 0 0.5rem

// .sec1-footer-link
//                 
