.nav
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    .icon,h3
        display: flex
        align-items: center
        color: #E44332

    .nav-items
        display: flex
        flex-direction: row
        flex-wrap: wrap
        .nav-link,.nav-login
            display: flex
            .item
                padding: 0 1rem
                color: black
        .nav-login
            padding-left: 10rem
            align-items: center
